<header>
    <nav>
        <a href="/">Mylibrary</a>
        <ul>
            <li> <a href="/authors">Tac Gia</a></li>
            <li> <a href="/authors/new">Them Tac Gia</a></li>
        </ul>
    </nav>
</header>